<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#projects">Projects</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#mentor">Mentor</a>
                    </li>
<!--                     <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/gsoc">GSoC</a>
                    </li> -->
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
                <p class="copyright text-muted small">Site based on OpenSUSE's <a href="https://github.com/openSUSE/mentoring">mentoring</a> project.</p>
            </div>
        </div>
    </div>
</footer>
