<section id="mentor-process">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Okay, let's mentor!</h2>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x"></i>
            </span>
            Add issues for your project to our <a href="https://github.com/openSUSE/mentoring/issues">repository</a>
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x"></i>
            </span>
            Label your issues with GSoC and assign yourself
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-comments fa-stack-1x"></i>
            </span>
            When students get in touch with you in the issue, help them
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-file fa-stack-1x"></i>
            </span>
            Between <em>14-25 March 2016</em> students have to submit a
            <a href="http://write.flossmanuals.net/gsocstudentguide/writing-a-proposal/">proposal</a>
            for your project to the
            <a href="https://summerofcode.withgoogle.com/">GSoC program site</a>.
            Help them
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-google fa-stack-1x"></i>
            </span>
            On <em>April 22 2016</em> Google will announce accepted student proposals
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-laptop fa-stack-1x"></i>
            </span>
            If your one of your students proposals makes the cut GSoC starts
            and runs all
            <a href="https://developers.google.com/open-source/gsoc/timeline">summer</a>!
          </p>
          <p class="small">
            Google Summer of Code is a very well thought out program with many
            roles, processes and terms. Still have questions? Check the
            <a href="https://developers.google.com/open-source/gsoc/faq">FAQ</a>
            and/or get in touch with <a href="mailto:opensuse-project@opensuse.org">our team</a>!
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="/img/starbucks.jpg" alt="">
        </div>
      </div>
    </div>
</section>
