<section id="gsoc-howto">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">How does it work?</h2>
        <div class="lead">
          <p>
            <i class="fa fa-check fa-fw icon-mentoring"></i>
            Check if you're eligible for GSoC on the official <a href="https://developers.google.com/open-source/gsoc/faq#students_and_eligibility">Google Summer of Code</a> website!
          </p>
          <p>
            <i class="fa fa-search fa-fw icon-mentoring"></i>
            Select one of our mentoring <a href="#projects">projects</a>
          </p>
          <p>
            <i class="fa fa-comments fa-fw icon-mentoring"></i>
            Get in touch with the mentor, follow the get started instructions in the project description.
          </p>
          <p>
            <i class="fa fa-pencil fa-fw icon-mentoring"></i>
            If the mentor is to your liking and you want to do this project for GSoC you write up a
            <a href="http://write.flossmanuals.net/gsocstudentguide/writing-a-proposal/">project proposal</a>.
          </p>
          <p>
            <i class="fa fa-paper-plane fa-fw icon-mentoring"></i>
            Between <em>14-25 March 2016</em> you have to submit your project proposal to the
            <a href="https://summerofcode.withgoogle.com/">GSoC program site</a>.
          </p>
          <p>
            <i class="fa fa-google fa-fw icon-mentoring"></i>
            On <em>April 22 2016</em> Google will announce accepted student proposals
          </p>
          <p>
            <i class="fa fa-laptop fa-fw icon-mentoring"></i>
            Code the summer away.
          </p>
          <p>
            <i class="fa fa-star-o fa-fw icon-mentoring"></i>
            SUCCESS!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
