<div id="projects"></div>
<section id="gsoc-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">What can I do?</h2>
        <p class="lead">Just pick one of our projects and follow the get started instructions:</p>
        <div class="lead">
          <p class="GSoC-placeholder project-placeholder">Please wait for loading the projects ...</p>
          <table style="display: none" data-url="https://api.github.com/repos/{{ site.github_organization }}/{{ site.github_repository }}/issues?labels=gsoc&?state=open" class="table gsoc-table">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <p class="lead">You can find a description of the different openSUSE projects on our <a href="/#projects">101 projects page</a>.</p>
          <p class="small">
            Nothing you like? Do you have your own idea?
            Awesome, just get in touch with <a href="mailto:opensuse-project@opensuse.org">our team</a>!
            Creativity and initiative are qualities we highly appreciate.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
