<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/img/favicon.png">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gsoc.cloudcv.org/">
    <meta property="og:title" content="CloudCV GSoC-2023 Ideas">
    <meta property="og:description" content="GSoC-2023 Project Ideas List for CloudCV">
    <meta property="og:image" content="">
     
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="https://cloudcv.org/">
    <meta name="twitter:title" value="@project_cloudcv">
    <meta name="twitter:description" value="Building platforms for reproducible AI research">
    <meta name="twitter:image" content="https://cloudcv.org/961a192a4f4976694fa1e08a00ae213a.png">
    <meta name="twitter:url" value="https://gsoc.cloudcv.org">
    <meta name="twitter:label1" value="GSOC-2023">
    <meta name="twitter:data1" value="CloudCV Project Ideas">
</head>
