<!-- jQuery Version 1.11.0 -->
<script src="//oss.maxcdn.com/jquery/1.11.0/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="//oss.maxcdn.com/jquery.easing/1.3/jquery.easing.1.3.min.js "></script>

<!-- Bootstrap Core JavaScript -->
<script src="//oss.maxcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/landing-page.js"></script>
<script src="/js/markdown.js"></script>
<script src="/js/github.js"></script>
<script src="js/redirect.js"></script>
<script src="../js/redirect.js"></script>
