<section id="mentor">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="mentor-guidelines">
        <h2 class="text-center">Become a Mentor!</h2>
        <p class="lead">
          The world needs more free software hackers/code.
          We think mentoring is very important for the future of CloudCV.
          It brings new people to the culture and practices of free software
          who will enrich our community with their skillsets, ideas and talents.
        </p>
        <p class="lead">
          Being a mentor requires your time, a clear vision of your
          project and good organization skills. If you think you would be 
          a good fit to mentor of our projects, do reach out to us!
          <!-- We carefully compiled some tips,
          tricks and guidelines for mentoring into our
          <a role="button" data-toggle="collapse"
             data-target="#mentor-guidelines-collapse"
             aria-expanded="false" aria-controls="mentor-guidelines-collapse">
            mentor guidelines
          </a>.
          Please read this for more information about being a mentor.
        </p>
        <div class="collapse" id="mentor-guidelines-collapse">
          {% include mentor-guidelines.html %}
        </div> -->
      </div>
    </div>
  </div>
</section>
