<section id="mentor">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" id="mentor-guidelines">
        <h2 class="text-center">Become a Mentor!</h2>
        <p class="lead">
          Mentoring is very important to the future of CloudCV.
          It introduces new people to the world of open source software
          who will enrich our community with their ideas and talents.
        </p>
        <p class="lead">
          Apart from technical skills, being a mentor requires your time,
          a clear roadmap for your project and good organization skills. If you think 
          you would be a good fit to mentor one of our projects, do reach out to us!
        </p>
      </div>
    </div>
  </div>
</section>
