<section id="mentor-process">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading fw-400">Okay, let's mentor!</h2>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x"></i>
            </span class="fw-300">
            Fill this <a href="https://goo.gl/forms/M4VViQzzBJAW3NEQ2" target="_blank">form</a> if you have relevant experience & want to mentor.
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x"></i>
            </span class="fw-300">
            Have your own idea? Add an issue to our <a href="https://github.com/Cloud-CV/GSoC-Ideas" target="_blank">ideas repository</a>.
          </p>
          <p>
              <span class="fa-stack fa-fw icon-mentoring">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-globe fa-stack-1x"></i>
              </span class="fw-300">
              In case of queries, you can <a href="https://gitter.im/Cloud-CV/Lobby" target="_blank">Contact</a> us.
            </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ site.baseurl }}/img/mentor_summit.jpg" alt="">
        </div>
      </div>
    </div>
</section>
