<h3 class="section-heading">
  You want to know what it means to mentor a new contributor to our project?
  Wonderful, let us guide you on what we think is important to know, what
  our best practices are and which behavior in mentors we desire.
  Here is our ten step program for mentoring!
</h3>


<h3>1. Mentees First</h3>
<p>
  We believe in putting the mentees needs first. You need to emphasize
  with the mentee, understand his personality, requirements and
  circumstances. Make an effort to understand where the mentee comes from
  and what you need to do, to get them to contribute to free software.
  Mentoring is about them, not about your or CloudCVs needs.
</p>
<h3>2. Build a Relationship and have a lot of fun...</h3>
<p>
  The most important goal is that you build a relationship based on trust
  and respect with the mentee and that you have fun together. Without this
  everything else you'll do is in vein! Such relationships do not just
  happen, they need ongoing effort and attention, especially during the
  early stages.
</p>
<h3>3. Be a role model</h3>
<p>
  Today this sounds like a weird thing from the 60s and it makes most
  people uncomfortable but you need to be a role model for your mentee!
  Free Software development is as much about behavior in a community,
  knowing what you want, and the ability to convey this to others as it
  is about pointers, gcc macros and git command line options. You need
  to ensure that your mentee can follow your example and that you're
  not passing on your bad habits. You are responsible for developing
  the competence AND character of the mentee!
</p>
<h3>4. Set goals and expectations</h3>
<p>
  The first thing you'll do together with the mentee is to prepare for the
  far future. Precise, reasonable and well-thought-out goals are a must
  for every successful mentoring project. Getting into free software
  development can be an overwhelming and daunting endeavor. A decent
  plan provides a path and helps to take one step after the other into
  this strange new world. It's your duty that the goals and expectations
  for the project are do-able, provide orientation and are technically sound.
  You're the expert!
</p>
<h3>5. Track Progress</h3>
<p>
  We encourage you to set up regular milestones in your plan that get
  reviewed and celebrated by you and your mentee. It's important to
  understand where you are and how you progress. Additionally we believe
  that talking as often as you can is what builds the relationship and
  bonding with your mentee. The consistency of your relationship is very
  important. Find a regular schedule where you meet, we recommend short
  daily meetings to check in on progress and address obstacles.
</p>
<h3>6. Use the community</h3>
<p>
  Our community consists of very experienced people and is
  one of the biggest and diverse free software projects on this planet.
  We provide well thought out structures, processes and infrastructure
  that reflect our experience with introducing new contributors since
  day one of our existence. CloudCV believes that one of the most
  important tasks is to bring in new hackers with new perspectives,
  backgrounds and ideas into our community. Make sure that you make use
  of this environment to the full extent!
</p>
<h3>7. Be Agile</h3>
<p>
  The only thing that is constant is change! You need to adapt your plan,
  milestones, time line, the technical details, your behavior and
  attitude during your time. Respond to change, help your mentee to do
  the same. Be open, courageous, and committed!
</p>
<h3>8. Collaborate</h3>
<p>
  Whatever challenge you face, remember you are not alone! You mingle on
  the shoulders of giants together with many other CloudCV mentors.
  Make sure you share your experience, your ideas and your problems with
  them. All of you strive to reach the same goal: getting people into
  free software. Make sure you work together in an open, transparent and
  friendly manner as part of our worldwide community.
</p>
<h3>9. Want this</h3>
<p>
  Mentoring requires time, effort and endurance. It will cost you some
  evening you wanted to go out with your friends, at least an hour every
  day and a lot of nerves because you explain things that are obvious to
  you over and over again. If you are not sure that you are willing to do
  this then it's probably better you don't do it.
</p>
<p>
  On the other hand mentoring will give you the satisfaction of being a
  positive influence in the life of someone else. You will see a new
  contributor grow into our community and you will achieve results
  that matter for CloudCV. You will also get the opportunity to learn
  something together and sometimes even making a new friend for life!
</p>
<h3>10. Don't follow this program, form your own opinion!</h3>
<p>
  This HOWTO is no religion and there are many awesome resources about
  mentoring in general and about mentoring for free software development
  in particular out there. Don't trust us, inform yourself and make up
  your own opinion! Here are some pointers.
</p>
<ul>
  <li>
    <a href="https://people.gnome.org/~federico/docs/summer-of-code-mentoring-howto/">
      GNOME mentoring guidelines
    </a>
  </li>
  <li>
    <a href="https://community.kde.org/Mentoring">
      KDE mentoring guidelines
    </a>
  </li>
  <li>
    <a href="http://en.flossmanuals.net/GSoCMentoring/">
      Google Summer of Code Mentoring Guidelines
    </a>
  </li>
</ul>
