<section id="mentor-process">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Okay, let's mentor!</h2>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-globe fa-stack-1x"></i>
            </span>
            <a href="https://github.com/openSUSE/mentoring#adding-new-project">Contact</a>
            us if you have relevant experience and want to get involved!
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x"></i>
            </span>
            Add issues for your project to our <a href="https://github.com/Cloud-CV/GSoC-Ideas">repository</a>
          </p>
          <p>
            <span class="fa-stack fa-fw icon-mentoring">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x"></i>
            </span>
            Label your issues with your projects name and assign yourself
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ site.baseurl }}/img/starbucks.jpg" alt="">
        </div>
      </div>
    </div>
</section>
