<h3 class="section-heading">
  You want to know what it means to be mentored by us? Wonderful! Here
  are the five things that are important for you to know/do to become
  a Free Software hacker!
</h3>

<h3>1. Understand the goal</h3>
<p>
  The goal of all of this is to guide you on becoming a regular contributor
  to Free Software. It's as much about building relationships, learning
  how we communicate and collaborate as it is about hacking code
  and using tools. This is about you becoming a full-fledged contributor
  to openSUSE!
</p>
<p>
  That also means that the goal of this program is not to teach you the
  basics of software development. Those skills can best be required
  <a href="https://en.wikipedia.org/wiki/Category:Open_educational_resources">elsewhere</a>
  and we expect you to have them.
</p>
<h3>2. Help us to get to know you</h3>
<p>
  We are here for you to talk about every
  aspect of this process. Introduce yourself on our
  <a href="mailto: opensuse-project@opensuse.org">mailing list</a>
  ("Hey I'm thinking about becoming a mentee in 101 and I'm not
  sure about XXX and have questions about YYY"), chat with us on
  <a href="irc://irc.opensuse.org/openSUSE-project">IRC</a> and if you're
  already sure about your project, introduce yourself to the mentor directly.
  And even if you're not sure that you want to do this at all, come talk
  to us and we will find out together if this is for you or not.
</p>
<h3>3. Be courageous and committed</h3>
<p>
  Find a project that challenges and that exites you. But think about your
  choice carefully, you're going to be doing it for a while. And while
  you are at it we expect you to be self-motivated and proactive. This
  will work out best if you choose the right thing to do, if you build a
  relationship with your mentor, set realistic goals and if you're willing
  to respond to change.
</p>
<h3>4. Communicate</h3>
<p>
  In our community people with different levels of expertise,
  speaking different languages and having different cultural backgrounds
  openly share their ideas. That's why communication is king. We expect
  you to communicate daily with your mentor, to write short reports at least
  once a week and we expect that you tell us if there is something you
  can't do. Share what you are up to, share your challenges and share
  what you have learned. Open, honest and prompt communication is the key
  to success!
</p>
<h3>5. Collaborate</h3>
<p>
  Make your code readable and understandable by everyone else in the project.
  Document code that isn't obvious. Commit your code early, commit often.
  Get your code reviewed and review code of others as often as you can.
  Make sure everyone can use, share, study, modify, and share
  modified versions of what you produce.
</p>
<p>
  Accept that there are different ways to work and different goals for
  people. Respect people and their contributions, respect other opinions
  and beliefs. Listen to arguments and address problems in a constructive
  and open way. A diverse community based on mutual respect is the base
  for a creative and productive environment.
</p>
