<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="http://cloudcv.org" target="_blank">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/">GSoC 2020</a>
                </li>
                <li>
                    <a class="page-scroll" href="/2019/" target="_blank">GSoC 2019</a>
                </li>
                <li>
                    <a class="page-scroll" href="/2018/" target="_blank">GSoC 2018</a>
                </li>
                <li>
                    <a class="page-scroll" href="/2017/" target="_blank">GSoC 2017</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://summerofcode.withgoogle.com/archive/2016/organizations/4785685563179008/" target="_blank">GSoC 2016</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://www.google-melange.com/archive/gsoc/2015/orgs/cloudcv" target="_blank">GSoC 2015</a>
                </li>
<!--                 <li>
                    <a class="page-scroll" href="#projects">Projects</a>
                </li> -->
<!--                 <li>
                    <a class="page-scroll" href="#mentor">Mentor</a>
                </li> -->
<!--                 <li>
                    <a class="page-scroll" href="/gsoc">GSoC</a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
